<li class="inline-items js-chat-open">
    <div class="author-thumb">
        <p>Name: {{first_name}} {{last_name}}</p>
        {{!-- <img alt="author" src="/img/avatar67-sm.jpg" class="avatar"> --}}
        <span class="icon-status online"></span>
    </div>
</li>