
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #cedaf0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 150vh;
	margin: -20px 0 20px;
}


h1 {
	font-weight: bold;
	margin: 0;
	font-size: 50px;
}

h2 {
	font-weight: bold;
	margin: 0;
	font-size: 30px;
}

h3 {
	font-weight: bold;
	margin: 0;
	font-size: 20px;
	line-height: 0px;
}

h5 {
	font-weight: bold;
	margin: 0;
	font-size: 15px;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 15px;
	text-align: left;
	margin: 5px;

	
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(85, 130, 225);
	background-color: rgb(85, 130, 225);
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 60px;
	margin: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	border-radius: 20px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	font-size: 15px;
	border: none;
	border-radius: 10px;
	padding: 25px 35px;
	margin: 12px 0;
	width: 100%;
	
}

.container {
	background-color: rgb(198, 220, 237);
	border-radius: 20px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1200px;
	max-width: 100%;
	min-height: 1400px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	
}



.overlay {
	background: rgb(85, 130, 225);
	background: -webkit-linear-gradient(to right, rgb(85, 130, 225), rgb(85, 130, 225));
	background: linear-gradient(to right, rgb(85, 130, 225), rgb(101, 140, 225));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 20px;
	width: 40px;
}

.controls {
	width: 100%;
	margin: 0;
	font-size: 100%;
	padding: 20px 10px 5px 10px;
	font-family: Segoe UI, Helvetica, sans-serif;
	border: none;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;    
  }


/*style 5*/

.container-ch {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-ch input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-ch:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-ch input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
.container-ch input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
.container-ch .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

