<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./Login/css/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>CINDER LOGIN PAGE</title>
</head>
<body>
	<div class="container" id="container">
		<div class="form-container log-in-container">
			<form action="#">
				<span>Not a Member Yet ?<a href="registration.html"><br>Sign UP</a></span>
				<div class="social-container">
					<a href="#" class="social"><i class="fa fa-google fa-2x"></i></a>
					<a href="#" class="social"><i class="fab fa fa-github fa-2x"></i></a>
				</div>
				<span>or use your account</span>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button type="button">Log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h5>WELCOME TO</h5>
					<h1>Cinder</h1>
					<p>This app is social platform for young coders on github from every part of the world</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
