<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/signup.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>CINDER SIGNUP PAGE</title>
</head>
<body>
	<div class="container" id="container">
		<div class="form-container log-in-container">
			<form action="#">
				<span>Sign up using this form:</span>
				<input type="Name" placeholder="Enter Your Name" />
				<input type="Last Name" placeholder="Enter Your Last Name" />
				<input type="Nick Name" placeholder="Choose a Nick Name" />
				<input type="Email" placeholder="Enter Your Email" />
				<input type="Password" placeholder="Enter your password" />
				<input type="Confirm password" placeholder="Confirm your password" />
				<button type="button">Sign Up</button> 
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h5>SIGN UP TO</h5>
					<h1>Cinder</h1>
					<p>No #1 app for young programmers and coders. joing us and connect with many enthusiastic programmers from around the world</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

